<a href="https://colab.research.google.com/github/karolinablaszka/Project-ML/blob/main/prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
gimport pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('train_data.csv',  on_bad_lines='skip')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (429,848,1367,1817,2663,5640,6135,6498,6587,7053,7399,7515) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head()

,304.361,-436.590,-33854.769,-96571.569,-15086.947,-794.409,-442.859,304.248,-202.411,-506.852,...,95.294,-3.936,-251.812,256.429,-473.661,-1398.604,42.638,771.185,-191.123,1356.137
0,54.047,90.087,-154.747,-4116.486,38365.133,-589.309,1115.367,274.199,814.953,167.272,...,-176.341,-426.238,-542.428,99.147,-102.309,-277.948,-98.859,-1163.779,265.231,-992.056
1,272.168,-201.736,4212.592,-9123.655,-35422.458,-1029.249,-506.290,-476.856,-570.731,-161.288,...,321.426,-376.033,142.834,920.958,-122.525,-174.304,-137.612,-1571.473,678.323,1020.263
2,170.007,68.736,48662.079,29735.235,-13903.955,895.081,-257.748,-811.058,-691.561,-31.439,...,-409.919,400.946,313.270,123.172,1786.962,147.637,31.433,-784.719,573.433,1454.415
3,86.797,180.052,-49643.545,2515.406,26206.315,-407.453,-189.416,-53.664,-159.507,-42.291,...,-101.761,-424.898,37.254,-337.431,423.691,14.240,267.352,-234.560,-213.804,873.391
4,345.239,-190.663,-19609.472,-44312.301,-3143.034,-681.815,-711.535,-1358.550,396.870,-7.566,...,-28.348,227.120,2.236,70.115,312.647,491.650,184.906,-46.391,286.278,53.120

In [ ]:
print(df)

     304.361  -436.590  -33854.769  -96571.569  -15086.947  -794.409  \
0     54.047    90.087    -154.747   -4116.486   38365.133  -589.309
1    272.168  -201.736    4212.592   -9123.655  -35422.458 -1029.249
2    170.007    68.736   48662.079   29735.235  -13903.955   895.081
3     86.797   180.052  -49643.545    2515.406   26206.315  -407.453
4    345.239  -190.663  -19609.472  -44312.301   -3143.034  -681.815
..       ...       ...         ...         ...         ...       ...
855   -2.491   -59.059   61852.388   42691.260    1498.935  -549.620
856  -39.042   147.820   29018.272   30438.637   -8245.673  -322.011
857  414.037   210.622  -74401.263  -11111.473   25283.852   435.297
858  -75.245   -25.004   87086.944  -20185.715   24968.296   457.426
859   17.679   -14.448   49134.302  -44364.540   -1887.587 -1533.718

     -442.859   304.248  -202.411  -506.852  ...   95.294   -3.936  -251.812  \
0    1115.367   274.199   814.953   167.272  ... -176.341 -426.238  -542.428
1    -506.290  -476.856  -570.731  -161.288  ...  321.426 -376.033   142.834
2    -257.748  -811.058  -691.561   -31.439  ... -409.919  400.946   313.270
3    -189.416   -53.664  -159.507   -42.291  ... -101.761 -424.898    37.254
4    -711.535 -1358.550   396.870    -7.566  ...  -28.348  227.120     2.236
..        ...       ...       ...       ...  ...      ...      ...       ...
855 -1951.936   748.299  -523.571   443.520  ...  564.436  490.648   267.441
856 -1177.455  -336.139   496.779   285.808  ... -442.642  661.582   157.867
857  -268.189 -1264.876  -346.659   368.127  ...  -62.220  283.975   297.767
858  1223.723  -229.488  -320.419  -209.477  ...   57.994  637.658   219.835
859   492.940  1613.019   248.057  -390.624  ...      NaN      NaN       NaN

      256.429  -473.661  -1398.604   42.638   771.185  -191.123  1356.137
0      99.147  -102.309   -277.948  -98.859 -1163.779   265.231  -992.056
1     920.958  -122.525   -174.304 -137.612 -1571.473   678.323  1020.263
2     123.172  1786.962    147.637   31.433  -784.719   573.433  1454.415
3    -337.431   423.691     14.240  267.352  -234.560  -213.804   873.391
4      70.115   312.647    491.650  184.906   -46.391   286.278    53.120
..        ...       ...        ...      ...       ...       ...       ...
855 -1019.230   169.888   -143.343 -286.463   466.162  -325.347 -1345.634
856   960.894  -536.656    636.531  -52.121  -669.325  -928.282  1298.175
857    83.727  2318.360    660.972   51.833   372.877    90.055   517.964
858  -595.216  -434.864   1278.165 -174.444 -1492.029  -469.034   212.316
859       NaN       NaN        NaN      NaN       NaN       NaN       NaN

[860 rows x 10000 columns]

In [ ]:
df.dropna(inplace=True)

In [ ]:
print(df.isnull().sum())

304.361       0
-436.590      0
-33854.769    0
-96571.569    0
-15086.947    0
             ..
-1398.604     0
42.638        0
771.185       0
-191.123      0
1356.137      0
Length: 10000, dtype: int64

In [ ]:
df.drop_duplicates(subset=None, keep='first', inplace=False)

,304.361,-436.590,-33854.769,-96571.569,-15086.947,-794.409,-442.859,304.248,-202.411,-506.852,...,95.294,-3.936,-251.812,256.429,-473.661,-1398.604,42.638,771.185,-191.123,1356.137
0,54.047,90.087,-154.747,-4116.486,38365.133,-589.309,1115.367,274.199,814.953,167.272,...,-176.341,-426.238,-542.428,99.147,-102.309,-277.948,-98.859,-1163.779,265.231,-992.056
1,272.168,-201.736,4212.592,-9123.655,-35422.458,-1029.249,-506.290,-476.856,-570.731,-161.288,...,321.426,-376.033,142.834,920.958,-122.525,-174.304,-137.612,-1571.473,678.323,1020.263
2,170.007,68.736,48662.079,29735.235,-13903.955,895.081,-257.748,-811.058,-691.561,-31.439,...,-409.919,400.946,313.270,123.172,1786.962,147.637,31.433,-784.719,573.433,1454.415
3,86.797,180.052,-49643.545,2515.406,26206.315,-407.453,-189.416,-53.664,-159.507,-42.291,...,-101.761,-424.898,37.254,-337.431,423.691,14.240,267.352,-234.560,-213.804,873.391
4,345.239,-190.663,-19609.472,-44312.301,-3143.034,-681.815,-711.535,-1358.550,396.870,-7.566,...,-28.348,227.120,2.236,70.115,312.647,491.650,184.906,-46.391,286.278,53.120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
854,-327.262,-346.411,39488.164,45638.989,-11490.284,285.236,1666.773,56.025,-224.452,-228.486,...,293.642,-1053.453,126.488,-248.917,236.377,-592.555,-120.869,-1034.026,-958.603,251.411
855,-2.491,-59.059,61852.388,42691.260,1498.935,-549.620,-1951.936,748.299,-523.571,443.520,...,564.436,490.648,267.441,-1019.230,169.888,-143.343,-286.463,466.162,-325.347,-1345.634
856,-39.042,147.820,29018.272,30438.637,-8245.673,-322.011,-1177.455,-336.139,496.779,285.808,...,-442.642,661.582,157.867,960.894,-536.656,636.531,-52.121,-669.325,-928.282,1298.175
857,414.037,210.622,-74401.263,-11111.473,25283.852,435.297,-268.189,-1264.876,-346.659,368.127,...,-62.220,283.975,297.767,83.727,2318.360,660.972,51.833,372.877,90.055,517.964
858,-75.245,-25.004,87086.944,-20185.715,24968.296,457.426,1223.723,-229.488,-320.419,-209.477,...,57.994,637.658,219.835,-595.216,-434.864,1278.165,-174.444,-1492.029,-469.034,212.316